body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
/*li {
  display: inline;

}
li:last-child{
margin-botom:0;}  
*/

a {
  text-decoration: none;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 188px;
  padding-bottom: 188px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header-container {
  display: flex;
  align-items: center;
}
.header {
  /*justify-content: space-between;*/
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-navigation {
  align-items: center;
  display: flex;
  margin-right: auto;
}
.header-navigation-list:first-child {
  position: relative;
  background-color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  position: relative;
  background-color: #fff;
}
.header-navigation-list {
  display: flex;
  gap: 40px;
  justify-content: flex-start;
}
.current::after {
  content: "";
  width: 100%;
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo .logo-part {
  color: #2e2f42;
}
.header-logo {
  margin-right: 76px;
}
.footer-logo .logo-part {
  color: #f4f4fd;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.header-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}
.header-navigation-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.address {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
}
.address-list-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list-link:hover,
.header-list-link:focus,
.address-list-link:hover,
.address-list-link:focus {
  color: #404bbf;
}

.main {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}
.main-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:focus,
.main-button:hover {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-descr {
  padding: 120px 0;
}
.main-descr-list {
  display: flex;
  gap: 24px;
}
.main-descr-list-item {
  max-width: 264px;
}
.main-descr-list-icons {
  display: flex;
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background: #f4f4fd;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 8px;
}
.main-icons {
  width: 64px;
  height: 64px;
}
.main-descr-list-item > h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  margin-top: 0;
}

.main-descr-list-item > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 0;
  margin-bottom: 0;
}

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-top: 0;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-list-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.team-list-item-img {
  max-width: 264px;
  max-height: 260px;
  margin-top: 0;
}
.team-icons {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 0;
}

.team-list-item-icon {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.team-list-item-icon:hover {
  background-color: #404bbf;
}

.team-list-icon {
  fill: #ffffff;
}
.employee {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-list-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-top: 0;
  margin-bottom: 8px;
}

.team-list-item-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-top: 0;
  margin-bottom: 8px;
}
.portfolio {
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-top: 0;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-list-item-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-list-item:hover .portfolio-cover-text {
  transform: translateY(0);
}
.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-cover-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-list-item-img {
  margin-top: 0;
  margin-bottom: 0;
}
.portfolio-cover-text {
  position: absolute;
  background-color: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(100%);
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  transform: translateY(100%);
  transition: transform 300ms;
}
.portfolio-list-item-titel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 0;
  margin-bottom: 8px;
}

.portfolio-list-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 0;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-socialmedia > h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 18px;
}

.footer-list {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
}

.footer-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.footer-list-icon {
  fill: #ffffff;
}
.footer-list-item-icon {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
}

.footer-list-item-icon:hover {
  background-color: #31d0aa;
}
